@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,600&display=swap');



.section-padding {
    padding: 200px 0;
    margin-top: 35px;
}

.section-padding.dark-bg {
    background-image: url(background.jpeg);
    color: #a5a5a5;
}


.tailor-text {
    font-size: 16px;
    line-height: 1.9;
    font-family: 'Roboto Condensed', sans-serif;
}

.tailor-text h2 {
    font-size: 45px;
    color: #fff;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 45px;
    font-weight: 900;
    font-family: 'Roboto Condensed', sans-serif;
}

.bordered-btn {
    display: inline-block;
    border: 2px solid #ff5151;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 20px;
    width: 200px;
    height: 60px;
    text-decoration: none;
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.bordered-btn i.fa {
    float: right;
    padding-top: 8px;
}

.trailor-into {
    position: relative;
}

.colroed-pricing-box {
    position: absolute;
    right: 140px;
    background: #ff5151;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 200px;
    padding-top: 40px;
    margin-top: -30px;
}

.colroed-pricing-box p {
    opacity: .5;
    margin-top: 5px;
}

.colroed-pricing-box p.price-text {
    color: #fff;
    opacity: 1;
    font-size: 30px;
    margin-top: -10px;
}

.absolute-shopping-cart {
    position: absolute;
    left: -25px;
    top: 35px;
    width: 50px;
    height: 50px;
    background: #fff;
    color: #333;
    line-height: 50px;
    font-size: 16px;
    box-shadow: 0 0 10px #666;
}

.trailor-into img {
    padding-top: 100px;
    margin-left: 100px;
    height: 500px;
    width: 800px;
}